<?xml version="1.0"?>
<launch>

	<env name="PX4_HOME_LAT" value="19.134423"/>
	<env name="PX4_HOME_LON" value="72.911763"/>

	<include file="$(find strawberry_stacker)/launch/single_uav_mavros_sitl_sdf.launch"></include>

	<node name="throttler_model_states" type="throttle" pkg="topic_tools" args="messages /gazebo/model_states 10"/>
    	<node name="edrone_0_gripper_service" type="edrone0_gripper_service.py" pkg="gazebo_ros_link_attacher"/>
	<node name="spawn_boxes" type="spawning.py" pkg="strawberry_stacker"/>
</launch>
